<!DOCTYPE html>
<html>
<head>
    <title>{{subject}}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #333;
            background-color: #2196F3;
            padding: 20px;
            text-align: center;
        }

        p {
            color: #666;
            padding: 10px;
        }

        .info {
            font-weight: bold;
        }
    </style>
</head>
<body>
<h1>{{subject}}</h1>
<p>{{message}}</p>
<p class="info"><span style="color:#2196F3">USERNAME:</span> {{username}} </p>
<p class="info"><span style="color: #2196F3">PHONE:</span> {{phoneNumber}} </p>
<p class="info"><span style="color: #2196F3">FROM:</span> {{email}} </p>
</body>
</html>